<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".admin.MemberInfoIndividual"
            android:exported="false" />
        <activity
            android:name=".admin.AllLoans"
            android:exported="false" />
        <activity
            android:name=".admin.AllMembers"
            android:exported="false" />
        <activity
            android:name=".UserMonthlyPayable"
            android:exported="false" />
        <activity
            android:name=".UserLoanInformation"
            android:exported="false" />
        <activity
            android:name=".GuarantorRequest"
            android:exported="false" />
        <activity
            android:name=".GuarantorRequestInformation"
            android:exported="false" />
        <activity
            android:name=".admin.LoanRequestInformation"
            android:exported="false" />
        <activity
            android:name=".admin.MembershipRequestInformation"
            android:exported="false" />
        <activity
            android:name=".admin.UserInformations"
            android:exported="false" />
        <activity
            android:name=".MemberLoan"
            android:exported="false" />
        <activity
            android:name=".admin.Settings"
            android:exported="false" />
        <activity
            android:name=".admin.GenerateReport"
            android:exported="false" />
        <activity
            android:name=".admin.LoanRequests"
            android:exported="false" />
        <activity
            android:name=".admin.MembershipRequests"
            android:exported="false" />
        <activity
            android:name=".admin.ViewUsers"
            android:exported="false" />
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".AccountSettings"
            android:exported="false" />
        <activity
            android:name=".NotMemberLoan"
            android:exported="false" />
        <activity
            android:name=".JoinMembership"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false"
            android:label="@string/title_activity_user_dashboard" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>